.row{
    margin-left: 20px;
    color: white;
}

.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row_posters::-webkit-scrollbar{ /*it will hide the scroll bar from the row*/
    display: none;
}

.row_poster {
    object-fit : contain; /*maintains the aspect ratio*/
    width : 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms; /*450ms is the delay in the transition when we hover over it*/
}

.row_poster:hover{
    transform: scale(1.08);
}

.row_posterLarge{
    max-height: 250px;
}

.row_posterLarge:hover{
    transform: scale(1.09);
}